<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.soframel.android.squic.SquicCalc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <application
        android:label="@string/app_name" android:name="org.soframel.android.squic.SquicApplication"
        android:icon="@drawable/squiccalc">
        <activity
            android:name="org.soframel.android.squic.SquicMainActivity"
            android:label="@string/menu.title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.soframel.android.squic.PlayQuizActivity" 
            android:label="@string/quiz.title"
            android:configChanges="orientation|keyboardHidden">
        </activity>
        <activity android:name="org.soframel.android.squic.points.ShowPointsActivity"
                  android:label="@string/points.title"
                  android:configChanges="orientation|keyboardHidden">
        </activity>
    </application>

</manifest>
