<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Mapping files inclusion  -->
        <mapping resource="org.soframel.squic.quiz.media.Color.xml"/>
        <mapping resource="org.soframel.squic.quiz.question.initializable.InitializableQuestions.xml"/>
        <mapping resource="org.soframel.squic.quiz.action.ReadActionItem.xml"/>
        <mapping resource="org.soframel.squic.quiz.action.ResultAction.xml"/>
        <mapping resource="org.soframel.squic.quiz.reward.Reward.xml"/>
        <mapping resource="org.soframel.squic.quiz.mode.GameMode.xml"/>
        <mapping resource="org.soframel.squic.quiz.response.MultipleChoiceResponse.xml"/>
        <mapping resource="org.soframel.squic.quiz.question.Question.xml"/>
        <mapping resource="org.soframel.squic.quiz.Quiz.xml"/>
        <mapping resource="org.soframel.squic.user.User.xml"/>

    </session-factory>
</hibernate-configuration>